[package]
name = "central-server"
version = "0.1.0"
edition = "2024"

[dependencies]
base64 = "0.22.1"
blake3 = "1.8.2"
capnp = { version = "0.21.2", default-features = false, features = [
    "unaligned",
    "std",
] }
dashmap = { version = "6.1.0", features = ["inline"] }
futures-util = "0.3.31"
heapless = "0.8.0"
hex = "0.4.3"
parking_lot = { version = "0.12.4", features = ["send_guard"] }
qunet = { path = "../qunet/qunet", features = ["client"] }
rand = "0.9.1"
server-shared = { path = "../server-shared", features = ["main", "srvc"] }
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.140"
slab = "0.4.10"
state = "0.6.0"
thiserror = "2.0.12"
tokio = { version = "1.45.1", features = ["full"] }
tokio-tungstenite = { version = "0.27.0", features = [
    "rustls-tls-native-roots",
] }
toml = "0.9.2"
tracing = "0.1.41"
tracing-appender = { version = "0.2.3", features = ["parking_lot"] }
arc-swap = "1.7.1"
rustc-hash = "2.1.1"

[target.'cfg(not(target_env = "msvc"))'.dependencies]
tikv-jemallocator = "0.5"
